//
//-- Config
//

// colors
$color-base: #15263e;
$color-base-light: #374362;
$color-gradient1: #b119ec;
$color-gradient2: #f8027e;
$color-highlight: #a91aef;

// widths
$smallest-width: 20em; // 320px
$very-small-width: 30em; // 480px/16 --> 30em;
$small-width: 48em; // 768px
$medium-width: 60em; // 960px
$large-width: 75em; // 1200px
$very-large-width: 100em; //1600px

$site-width: 75em;