//
//-- Footer
//

.page-footer {
	background: #dcdcde;
	padding: em(100) 1.5em;
}

.footer-module {
	//margin-bottom: 2em;
	margin-bottom: 3em;
	font-size: em(14);

	min-height: 5em;

	&:last-child {
		//margin-bottom: 0;
	}
}

.footer-module__icon, .footer-module__content {
	display: inline-block;
	vertical-align: middle;

	@include tablet-port {
		vertical-align: top;
	}
}

.footer-module__icon {
	background: $color-base-light;
	//width: rem(87);
	//height: rem(87);
	width: rem(28);
	height: rem(28);
	border-radius: 100%;
	position: relative;
	//font-size: em(45);
	font-size: em(20);
	color: #FFF;

	.fa {
		@include vertical-center;
	}

	a {
		color: inherit;
	}

	@include tablet-port {
		width: rem(33);
		height: rem(33);
		font-size: em(26);
	}
}

.footer-module__content {
	color: #4d4d4d;
	//margin-left: 2em;
	margin-left: .875em;

	a {
		color: inherit;
		@include hover-underline;
	}
}

.footer-module__title {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: .875em;
	font-size: 1em;
}

.footer-module--copyright {

}